# Copyright (C) 2026 YAAP
# Copyright (C) 2026 haloUI
# Copyright (C) 2026 zenin1504
#
# SPDX-License-Identifier: Apache-2.0

on boot
    chown system system /sys/module/kprofiles/parameters/auto_kp
    chmod 0660 /sys/module/kprofiles/parameters/auto_kp
    chown system system /sys/kernel/kprofiles/kp_mode
    chmod 0660 /sys/kernel/kprofiles/kp_mode
