<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2026 YAAP
     Copyright (C) 2026 haloUI
     Copyright (C) 2026 zenin1504

     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.kprofiles"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@drawable/ic_kprofiles"
        android:label="@string/kprofiles_title"
        android:persistent="false"
        android:theme="@style/Theme.SubSettingsBase.Expressive">

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".battery.KprofilesSettingsActivity"
            android:exported="true"
            android:configChanges="uiMode|orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|density"
            android:theme="@style/Theme.Kprofiles"
            android:label="@string/kprofiles_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.battery" />
            <meta-data
                android:name="com.android.settings.group_key"
                android:value="percentage_category" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/kprofiles_summary" />
        </activity>

        <service
            android:name=".battery.KprofilesModesTileService"
            android:exported="true"
            android:icon="@drawable/ic_kprofiles"
            android:label="@string/kprofiles_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

    </application>
</manifest>
